* {
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px; 
  color: #666;
}

textarea, input { 
  outline: none;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #388686;
}

h1 {
  margin-top: 0;
  font-weight: 500;
}

form {
  position: relative;
  width: 80%;
  border-radius: 30px;
  background: #fff;
}

.form-left-decoration, .form-right-decoration {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  border-radius: 20px;
  background: #388686;
}

.form-left-decoration {
  bottom: 60px;
  left: -30px;
}

.form-right-decoration {
  top: 60px;
  right: -30px;
}

.form-left-decoration:before, .form-left-decoration:after,
.form-right-decoration:before, .form-right-decoration:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  border-radius: 30px;
  background: #fff;
}

.form-left-decoration:before {
  top: -20px;
}

.form-left-decoration:after {
  top: 20px;
  left: 10px;
}

.form-right-decoration:before {
  top: -20px;
  right: 0;
}

.form-right-decoration:after {
  top: 20px;
  right: 10px;
}

.circle {
  position: absolute;
  bottom: 80px;
  left: -55px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
}

.form-inner {
  padding: 40px;
}

.form-inner textarea, .form-inner input {
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 20px;
  background: #d0dfe8;
  resize: none;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 20px;
  border: none;
  border-bottom: 4px solid #286d6d;
  background: #286d6d; 
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

button:hover {
  background: #369696;
  border-bottom: 4px solid #369696;
}

.input-label {
  font-weight: 800;
}

.box {
  border-style: solid;
  border-radius: 20px;
  border-width: .5px;
  padding: 10px;
  margin-top: 5px;
}

@media (min-width: 568px) {
  form {
      width: 60%;
  }
}
