[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev_packages]
black = "==19.10b0"
isort = "*"
flake8 = "*"
gdown = "*"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
torch = "*"
transformers = "*"
pytorch_lightning = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true